*{
  font-family: 'Rye', cursive;
}

.no-select {  /*Prevents the user from selecting text*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

body{
  background-image: url("cardTableTile.png");
  text-align: center;
  min-height: 292px;
  height: 292px;
}

#newGame {
  position: fixed;
  font-size: 64px;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 80px;
  margin-left: -225px;
  margin-top: -40px;
}

#newGame:hover, #hit:hover, #stay:hover{
  text-shadow: yellow 0 0 2px;
  cursor: pointer;
}

#newGame:active,  #hit:active, #stay:active{
  text-shadow: blue 0 0 0px, yellow 0 0 2px;;
}

#playerInput{
  position: fixed;
  bottom: 12px;
  z-index: 10;
  left: 50%;
  margin-left: -112px;
  font-size: 36px;
  width: 224px;
}

#playerInput > * {
  display: inline-block;
}

.card {
  width: 128px;
  margin: 0 2px 0 2px;
}

#dealerHand, #playerHand{
  position: fixed;
  left: 0;
  right: 0;
}

#dealerHand{
  top: 12px;
}

#playerHand{
  bottom: 57px;
}

@media (max-height: 514px){
  #playerHand{
    position: absolute;
    top: 312px;
  }

  #newGame{
    position: absolute;
    top: 258px;
  }

}
